@import url("https://use.typekit.net/gru8nks.css");
@font-face{
    src: url(../font/Fontjek.ttf);
    /*src: url(../font/Fontjek.otf);*/
    font-family: "Fontjek";
}

*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    background: url(../img/bg.png) #353535 no-repeat fixed;
    background-position: top center;
    font-family: var(--main-font);
    margin-top: 9rem;
}
/*------------------------------------ varibles */
:root{
    --color-red: #C4491D;
    --color-pink: #E1CAB6;
    --color-white: #F4E6D9;
    --color-hover: #A7D9D6;
    --color-section: #E1CAB6;
    --h1: "Fontjek";
    --main-font: itc-american-typewriter, serif;
}
/*------------------------------------ basic semantic tags */
h1{
    color: var(--color-white);
    font-family: var(--h1);
    font-weight: 100;
    font-size: 8rem;
    line-height: 8rem;
    text-align: center;
    margin: 0 0 3rem 0;
}
h2,
h3,
h4,
h5,
h6,
p,
a,
button{
    font-family: var(--main-font);
}
p{
    font-size: 2rem;
    line-height: 2.2rem;
    margin-top: 2rem;
    font-weight: 500;
}
h2{
    font-size: 3rem;
    line-height: 2.7rem;
    text-align: center;
    color: var(--color-white);
}
/*------------------------------------ Age Check */
#age{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #353535;
    z-index: 9999;
    text-align: center;
}
#age button{
    padding: 1rem;
    font-size: 3rem;
    border-radius: 1rem;
    border: none;
    background: var(--color-red);
    color: var(--color-white);
}
#age h2{
    margin: 50% 0 2rem 0;
}
.ageAway{
    animation: ageAway 1s ease-out forwards;
}
@keyframes ageAway{
    to{
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
}
/*------------------------------------ Header */
header{
    margin: 1.5rem 1.5rem 0 1.5rem;
    text-align: center;
}
header p{
    color: var(--color-white);
    font-size: 2.7rem;
    line-height: 2.9rem;
    margin-bottom: 2rem;
    font-weight: 500;
}
main{
    margin: 0 0 0 0;
}
#index section{
    background: var(--color-section);
    width: 100%;
    position: relative;
    border: 0.3rem dashed black;
    padding: 1.5rem;
    box-sizing: border-box;
    margin: 12rem 0 10rem 0;
    text-align: center;
    color: var(--color-red);
}
#index section h3{
    margin: 8rem 0 0.5rem 0;
    font-size: 3rem;
    font-weight: bold;
}
#index section p{
    text-align: left;
}
.profile{
    position: absolute;
    top: calc(-16.6rem / 2);
    right: calc(50% - 8.3rem);
    width: 16.6rem;
    height: 16.6rem;
    border: 0.3rem dashed black;
    border-radius: 50%;
    overflow: hidden;

}
.profile img{
    width: 100%;
}
/*------------------------------------ Navigation */
.burger, .filterBtn{
    position: relative;
    width: 3rem;
    height: 3rem;
    float: right;
    margin-left: 1rem;
}
.burger span, .filterBtn span{
    width: 100%;
    height: 0.4rem;
    margin: 0 0 0.8rem 0;
    background: var(--color-white);
    display: block;
    border-radius: 1rem;
    transition: 1s;
}
.filterBtn span{
    position: relative;
}
span.dot{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background: var(--color-red);
    top: -0.25rem;
    left: 0.5rem;
    border: 0.2rem solid var(--color-white);
    pointer-events: none;
}
span:nth-child(2) span.dot{
    left: 1.5rem;
}

#navheader {
    background-color: #C4491D;
    padding: 1.5rem;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8999;

}
#navheader a, .nav a {
    color: var(--color-white);
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0;
}
.nav a{
    font-family: var(--font-main) !important;
}
#navheader a{
    font-family: var(--h1);
}
#navheader a.logo {
    font-size: 3.6rem;
    font-weight: 100;
}

#navheader a.active {
    color: #A7D9D6;
}

.nav, .filter {
    width: 100%;
    border-top: 0.3rem dashed var(--color-white);
    position: absolute;
    top: 5.7rem;
    left: 0;
}
.nav a, .filter a{
    font-family: var(--main-font) !important;
    display: block;
    padding: 1.5rem 0 1.5rem 0;
    border-bottom: 0.3rem dashed var(--color-white);
    background: var(--color-red);
}
/*------------------------------------Navigation Animations*/
/*.burger, .filterBtn{
    position: relative;
    width: 3rem;
    height: 3rem;
    float: right;
    margin-left: 1rem;
}
.burger span, .filterBtn span{
    width: 100%;
    height: 0.4rem;
    margin: 0 0 0.8rem 0;
    background: var(--color-white);
    display: block;
    border-radius: 1rem;
}
*/
.menuOpened{
    transform:rotate(140deg);
}
.filterSlideTop{
    animation: filterSlideTop 1s ease infinite;
}
.filterSlideMiddle{
    animation: filterSlideMiddle 1s ease infinite;
}
.filterSlideBottom{
    animation: filterSlideTop 1.4s ease infinite;
}
@keyframes filterSlideTop{
    0%{
        left: 0.5rem;
    }
    50%{
        left: 1.5rem;
    }
    100%{
        left: 0.5rem;
    }
}
@keyframes filterSlideMiddle{
    0%{
        left: 1.5rem;
    }
    50%{
        left: 0.5rem;
    }
    100%{
        left: 1.5rem;
    }
}
-----------------------------------Product page*/
.details{
    display: block;
}
section{
    width: 100%;
    display: block;
    background: var(--color-pink);
    border: 0.5rem dashed black;
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 0 0 3rem 0;
    min-height: 49rem;
    position: relative;

}
section img{
    width: calc(16.6rem - 3rem);
    height: auto;
    float: left;
}
section img::after{
    content: ' ';
    display: block;
}
section h2 {
    font-size: 3rem;
    line-height: 2.7rem;
    text-align: left;
    color: var(--color-red);
}
section h3, a, a:visited{
    color: var(--color-red);
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 0.5rem;
}
section p:last-of-type {
    margin: 2rem 0 4rem 0;
}
a{
    font-weight: bold;
}
.alcohol{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
}
.author{
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}
/* specials for JS */
.hide{
    display: none;
}
